body {
	background: #eee;
	font-family: 'Raleway', sans-serif;
}
nav {
    background-color: #333 !important;

}
@font-face {font-family:"Harabara";src:url("fonts/Harabara.eot?") format("eot"),url("fonts/Harabara.woff") format("woff"),url("fonts/Harabara.ttf") format("truetype"),url("fonts/Harabara.svg#Harabara") format("svg");font-weight:normal;font-style:normal;}
.brand-logo {
	font-family: "Harabara";
	letter-spacing: 2px;
}
.brand-logo::first-letter { 
    color: #40d47e;
}
nav .button-collapse {
    padding-left: 10px;
}
#reg, .log, .logout, #regtitle, #logtitle, .fb_title, .l_o, .l_i {
	display: none;
}
.small_nav {
	margin: 0.5rem 0 1rem 0;

}
.small_nav_wrapper {
    margin-top: 1rem;

}
@media only screen and (min-width : 993px) {
  #sidenav-overlay {
    display: none !important; 
  } 
}
.label {
    margin-top: -20px;
    left: 0rem !important;
}
input[type=range] {
    margin: 0px !important;
    margin-top: 28px !important;
    border: none !important
}
.card-title {
    text-shadow: 0px 0px 2px #000;
}
