  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#" class="brand-logo center">bridge</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{data.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/about">About</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{data.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
          <li class="divider"></li>
          <li><a href="#/about">About</a></li>
        </ul>
        <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div id="register_modal" class="modal">
    <div class="modal-content">
      <h4 >Register</h4>
      <div class="divider"></div>
      <p></p>
      <p id="regtitle" class="red-text">There was an error. Consider revising and try again.</p>
      
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="regemail" type="email" class="validate">
            <label for="regemail" data-error="Invalid">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="regpass" type="password" class="validate">
            <label for="regpass">Password</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a id="register" href="#" class=" modal-action waves-effect waves-green btn">Register</a>
    </div>
  </div>
  <div id="login_modal" class="modal">
    <div class="modal-content">
      <h4>Log In</h4>
      <div class="divider"></div>
      <p></p>
      <p id="logtitle" class="red-text">There was an error. Consider revising and try again.</p>
      <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="logemail" type="email" class="validate">
            <label for="logemail" data-error="Invalid">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="logpass" type="password" class="validate">
            <label for="logpass">Password</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a id="login" href="#" class=" modal-action waves-effect waves-green btn">Log In</a>
    </div>
  </div>
  <div class="container">
      <br/>
      <table class="striped z-depth-1 centered">
        <thead>
          <tr>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Location</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>fremontbridge15@gmail.com</td>
            <td>510-386-1102</td>
            <td>Fremont, CA</td>
          </tr>
        </tbody>
      </table>
  </div>