  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#" class="brand-logo center">bridge</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
          <li class="divider"></li>
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div class="container">    
     <br/>
     <div class="row">
         <div ng-show="post" class="card col m6" >
                    <div class="card-image">
                        <img src="{{ post.picture }}">
                        <span class="card-title">{{ post.title }}</span>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            <li class="collection-item">
                                <div>
                                    By <b>{{ post.author }}</b>
                                    <span class="secondary-content">
                                        <i class="material-icons">account_circle</i>
                                    </span>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>
                                    <i>{{ post.tags }}</i>
                                    <span class="secondary-content">
                                        <i class="material-icons">label</i>
                                    </span>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>
                                    {{ post.date }}
                                    <span class="secondary-content">
                                        <i class="material-icons">today</i>
                                    </span>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>
                                    <a target="_blank" href="https://www.google.com/maps/place/{{ post.location }}">
                                        {{ post.location }}
                                    </a>
                                    <span class="secondary-content">
                                        <i class="material-icons">location_on</i>
                                    </span>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>
                                    {{ post.description }} 
                                    <span class="secondary-content">
                                        <i class="material-icons">subject</i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="{{ post.link }}" target="_blank">Join <i class="material-icons">trending_flat</i></a>
                    </div>
         </div>
     </div>
  </div>