  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#" class="brand-logo center">bridge</a>
        <ul class="right hide-on-med-and-down">
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{data.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{data.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
          <li class="divider"></li>
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div id="register_modal" class="modal">
    <div class="modal-content">
      <h4 >Organization Registration</h4>
      <div class="divider"></div>
      <p></p>
      <p id="regtitle" class="red-text">There was an error. Consider revising and try again.</p>
      
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input ng-model="regemail" type="email" class="validate">
            <label for="regemail" data-error="Invalid">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input ng-model="regpass" type="password" class="validate">
            <label for="regpass">Password</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a ng-click="register()" class=" modal-action waves-effect waves-green btn">Register</a>
    </div>
  </div>
  <div id="login_modal" class="modal">
    <div class="modal-content">
      <h4>Log In</h4>
      <div class="divider"></div>
      <p></p>
      <p id="logtitle" class="red-text">There was an error. Consider revising and try again.</p>
      <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input ng-model="logemail" type="email" class="validate">
            <label for="logemail" data-error="Invalid">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input ng-model="logpass" type="password" class="validate">
            <label for="logpass">Password</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <button ng-click="login()" class="modal-action waves-effect waves-green btn">Log In</button>
    </div>
  </div>
  <div class="container">
    <p></p>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="input-field">
              <i class="material-icons prefix">search</i>
              <input id="icon_prefix" ng-model="query.$" type="text" class="validate">
              <label for="icon_prefix">Search Events...</label>
            </div>
        </div>
        <div class="col s12 m6 offset-m3">
            <select ng-model="query.tags" class="browser-default">
              <option value="">All</option>
              <option value="Animals">Animals</option>
              <option value="Art/Culture">Art/Culture</option>
              <option value="Children">Children</option>
              <option value="Community">Community</option>
              <option value="Technology">Technology</option>
              <option value="Disaster Relief">Disaster Relief</option>
              <option value="Education">Education</option>
              <option value="Employment">Employment</option>
              <option value="Enviorment">Enviorment</option>
              <option value="Medicine">Medicine</option>
              <option value="Hunger">Hunger</option>
              <option value="Broadcasting">Broadcasting</option>
              <option value="Seniors">Seniors</option>
              <option value="Sports/Recreation">Sports</option>
            </select> 
        </div>
    </div>
    <div class="row" id="feed">
        <div class="col s12 m6 offset-m3">
            <div ng-show="!filtered.length && !loading" class="card-panel">
              <span>No posts available.
              </span>
            </div>
            <div ng-show="loading">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
            </div>
           <ul class="collection">
              <li class="collection-item avatar" ng-repeat="post in filtered = (posts | filter:query)">
                <img src="{{ post.picture }}" alt="" class="circle">
                <a class="title" href="#/posts/{{ post.$id }}">{{ post.title }}</a>
                <p></p>
                <p>By <a href="#/organizations/{{ post.authorid }}">{{ post.author }}</a> <br>
                <i>{{ post.date }}</i>
                <br>
                <b>
                  {{ post.location }}
                </b>
                </p>
                <span class="secondary-content">{{ post.tags }} </a>
              </li>
            </ul>
        </div>
    </div>
  </div>