  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#" class="brand-logo center">bridge</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
          <li class="divider"></li>
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div class="container">    
     <br/>
     <div class="row">
        <form name="postForm" class="col s12" novalidate>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">info_outline</i>
              <input name="title" ng-model="title" type="text" class="validate" required>
              <label class="active" for="name">Title</label>
            </div>
            <div class="input-field col s12 m6">
              <ul class="collection">
                <li class="collection-item avatar">
                  <img id="image" src="http://materializecss.com/images/sample-1.jpg" alt="" class="circle">
                  <div class="file-field input-field">
                    <input placeholder="Change Picture" class="file-path validate" type="text" />
                    <div style="opacity:0;"class="btn">
                      <span>Image</span>
                      <input id="imgInp" id="picture" name="picture" type="file" accept="image/*" required/>
                    </div>
                  </div>   
                </li>
              </ul>
            </div>    
            <div class="input-field col s12 m3">
                <i class="material-icons prefix">today</i>
                <input type="date" class="datepicker" ng-model="startDate" name="startDate"required/> 
                <label class="active" for="startDate">Start</label>
            </div>
            <div class="input-field col s12 m3">
                <select name="startTime" id="startTime" class="browser-default">
                      <option value="12 AM" >12 AM</option>
                      <option value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value="5 AM">5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value="8 AM">8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                      <option value="1 PM">1 PM</option>
                      <option value="2 PM" selected="true">2 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="5 PM">5 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="8 PM">8 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="11 PM">11 PM</option>
                                                              
                </select>
            </div>
            <div class="input-field col s12 m3">
                <input type="date" class="datepicker" ng-model="endDate" name="endDate"required/>
                <label class="active" for="endDate">Start</label>
            </div>
            <div class="input-field col s12 m3">
                <select id="endTime" name="endTime" class="browser-default">
                      <option value="12 AM" >12 AM</option>
                      <option value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value="5 AM">5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value="8 AM">8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                      <option value="1 PM">1 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="3 PM" selected="true">3 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="5 PM">5 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="8 PM">8 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="11 PM">11 PM</option>
                                                              
                </select>
            </div>        
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">location_on</i>
              <input name="location" type="text" class="validate" required>
              <label class="active" for="name">Location</label>
            </div>
            <div class="input-field col s12 m6">
              <select name="tags" id="tags" class="browser-default">
                <option selected="true"value="Animals">Animals</option>
                <option value="Art/Culture">Art/Culture</option>
                <option value="Children">Children</option>
                <option value="Community">Community</option>
                <option value="Technology">Technology</option>
                <option value="Disaster Relief">Disaster Relief</option>
                <option value="Education">Education</option>
                <option value="Employment">Employment</option>
                <option value="Enviorment">Enviorment</option>
                <option value="Medicine">Medicine</option>
                <option value="Hunger">Hunger</option>
                <option value="Broadcasting">Broadcasting</option>
                <option value="Seniors">Seniors</option>
                <option value="Sports/Recreation">Sports</option>
              </select>
            </div>
            <div class="input-field col s12 m12">
              <i class="material-icons prefix">subject</i>
              <textarea name="description" class="materialize-textarea" length="200" ></textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <div id="us"></div>
          <button ng-hide="postForm.title.$error.required || postForm.startDate.$error.required || postForm.endDate.$error.required" ng-click="post()" class="waves-effect waves-green btn">Save</button>
        </form>
     </div>
  </div>