  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#" class="brand-logo center">bridge</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{user.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#/">Home</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#login_modal">Log In</a></li>
          <li ng-hide="authData"><a class="modal-trigger" href="#register_modal">Register</a></li>
          <li id="post" ng-show="authData" class="show-{{user.verified}}"><a href="#/post">Post</a></li>
          <li ng-show="authData"><a href="#/profile">Profile</a></li>
          <li ng-show="authData"><a ng-click="authObj.$unauth()" href="">Log Out</a></li>
          <li class="divider"></li>
          <li><a href="#/about">About</a></li>
          <li><a href="#/contact">Contact</a></li>
        </ul>
        <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div class="container">    
     <br/>
     <div class="row">
        <div class="col s12 m6 offset-m3">
            <div ng-show="none" class="card-panel">
              <h6 class="center-align">This organization doesn't exist.
              </h6>
            </div>
            <div ng-show="loading">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
            </div>
             <div ng-show="show" >
               <ul class="collection">
                  <li class="collection-item avatar">
                    <img src="{{ user.image }}" alt="" class="circle">
                    
                     <table>
                        <tbody>
                          <tr>
                            <td><b>Name</b></td>
                            <td><span class="title">{{ user.name }}</span></td>
                          </tr>
                          <tr>
                            <td><b>Email</b></td>
                            <td>{{ user.email }}</td>
                          </tr>
                          <tr>
                            <td><b>Phone Number</b></td>
                            <td>{{ user.phone }}</td>
                          </tr>
                          <tr>
                            <td><b>Description</b></td>
                            <td>{{ user.description }}</td>
                          </tr>
                        </tbody>
                      </table>
                  </li>

               </ul>

             </div>
        </div>
     </div>
  </div>